/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm đoạn này để ép trình duyệt nhận diện chiều cao */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}